.main{
    margin: 0px auto;
    background-color: #FFFFCC;
    width: 700px;
}

.top{
    display: flex;
    margin-left: 50px;
}

h3{
    color: #0000CC;
    font-family: Arial;
    margin-top: 30px;
    margin-left: 10px;
}

.main-content{
    display: flex;
}

.main-content1{
    line-height: 30px;
    color: #000066;
    font-family: Arial;
    margin-left: 60px;
}

.main-content2{
    line-height: 30px;
    margin-left: 30px;
}

.button{
    margin-top: 10px;
    margin-left: 190px;
}

button{
    background-color: #CCCCCC;
    font-family: Arial;
}