.section{
    text-align: justify;
}

.sub_section{
    text-align: justify;
    text-indent: 5%;
}

h2{
    text-align: left;
    text-decoration: underline;
    text-transform: uppercase;
    word-spacing: 2px;
}

h3{
    text-align: left;
    text-decoration: underline;
    text-transform: uppercase;
    word-spacing: 2px;
}