.container{
    margin: 0px;
    padding: 0px;
}
.main{
    margin: 0px auto;
    width: 500px;
    height: 200px;
    background-color: #FFFFCC;
}

h2{
    color: #0000CC;
    font-family: Arial;
    text-transform: uppercase;
    padding: 10px;
}

.main-conten{
    display: block;
    margin-left: 60px;
}

.input-content{
    display: flex;
}

label{
    color: #000066;
    font-family: Arial;
}

.button{
    margin-left: 150px;
    margin-top: 20px;
}
